body {
	text-align: center;
	font-family: courier;
}
body>div {
	max-width: 920px;
	margin: 20px auto;
}

.header-block {
	background-color: #CCCCCC;
	padding-bottom: 6%;
	padding-top: 5%;
}

.main-heading {
	color: #ffabbb;
}

.center-text {
	padding-right: 20%;
	padding-left: 20%;
}

.img-circle {
	border-radius: 50%;
	width: 250px;
	height: 250px;
}

.first-intro {
	margin-left: 60px;
	margin-right: 60px;
}

.social-media {
	word-spacing: 30px;
	font-size: 20px;
}

.job-title {
	font-size: 20px;
}

.job-block {
	padding-top: 5%;
	padding-bottom: 5%;
}

.footer {
	padding-top: 10%;
	padding-bottom: 10%;
	background-color: #CCCCCC;
}

@media only screen and (min-width: 760px) {
	.fn-img {
		display: inline-block;
		padding-right: 10px;
	}

	.sthlm-img {
		display: inline-block;
		padding-left: 10px;
	}
