body {
	text-align: center;
	font-family: courier;
}

p {
	color: #0000;
	font-size: 25px;
}

.img-circle {
	padding-top: 20px;
	border-radius: 25px;
}

.first-intro {
	font-size: 100px;
	margin-left: 60px;
	margin-right: 60px;
}

.social-media {
	word-spacing: 30px;
	font-size: 20px;
}

.jobs {
	background-color: #E6E6FA;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 30px;
}

.footer {
	position: absolute;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #CCCCCC;
}

@media only screen and (min-width: 760px) {
	.main-heading {
		color: #0000ff;
	}

	.first-job-img {
		display: inline-block;
		padding-right: 10px;
	}

	.second-job-img {
		display: inline-block;
		padding-left: 10px;
	}

