body {
	margin: 70px 0;
	padding: 10px;
	text-align: center;
	font-family: courier
}

p {
	color: #0000;
	font-size: 20px;
	margin: 70px;
}
.social-media {
	word-spacing: 30px;
	font-size: 20px;
}

.footer {
	width: auto;
	margin: auto;
	background-color: #CCCCCC;
	padding-top: 5%;
	padding-bottom: 5%;
}